# Env
NODE_ENV= ### COMPLETE WITH THE NODEJS ENVIROMENT ###

# Port
PORT= ### COMPLETE WITH PORT ###

#Log
LOG_LEVEL ### SELECT LEVEL FOR THE LOGGER ###

# Mapbox
MAPBOX_API_KEY= ###  COMPLETE WITH THE MAPBOX API KEY ###

# OPEN WEATHER
OPENWEATHER_API_KEY= ### COMPLETE WITH THE OPEN WEATHER API KEY ###